 
<div >


	<ng-template #content let-offcanvas >
 
		<div class="offcanvas-body  "   >
				<!-- NEW -->
			

				<table mat-table [dataSource]="Categories" class="mat-elevation-z8" style="box-shadow: none; width: 80%;" >

					<!--- Note that these columns can be defined in any order.
						  The actual rendered columns are set as a property on the row definition" -->
				  
					    <div >
						  <ng-container matColumnDef="position"  >
							<th mat-header-cell *matHeaderCellDef class="category">категории </th>
							<td mat-cell *matCellDef="let element"   (click) = "ShowCategory(element.categoryName)"  class="category"   > {{element.categoryName}}  </td>
						  </ng-container>
						</div> 	
				    
					 
					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				  </table>

		</div>	
		 
	</ng-template>
	
	 
	
	 
	 
	<p>
		<mat-toolbar color="primary" style="height: 80px;">
		  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
			<button mat-icon-button class="example-icon" class="btn btn-lg btn-outline-primary mb-2 me-2" aria-label="Example icon-button with menu icon" (click)="openScroll(content)">
				<mat-icon>menu</mat-icon>
			  </button>
			  
		  </button>
		  
		  <span>каталог</span>
 
		   

		  <span class="example-spacer"></span>
		  
		  
		</mat-toolbar>
	  </p>
	  
	<div class="content">
		 
		<router-outlet ></router-outlet>
		
	</div>	
	
</div>	