 

<div class="wrapper" >
        <div class="headerBox">
            
            <span  style="margin-left: 10px;">{{Product.name}}</span>

        </div>
        <div class="box2">
            <ngb-carousel *ngIf="images" >
                <ng-template ngbSlide >
                    <div   >
                        <img [src]="images[0]" style="height:330px; width: 100%" alt="Random first slide" />
                    </div>
                    
                </ng-template>
                
            </ngb-carousel>
            <p class="price" >{{Product.price}} ₽</p>
</div>
         

<ng-template #content2 let-modal  >
    <div class="modal-header" style="background-color: #ACA9A9;">
        <h4 class="modal-title" id="modal-basic-title">Новая хар-ка товара</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" style="background-color: #ACA9A9;" >
        <mat-form-field class="example-form-field">
            <mat-label>название</mat-label>
            <input matInput type="text" [(ngModel)] = "newCharacteristicType">
            
          </mat-form-field>
           
    </div>
    <div class="modal-footer" style="background-color: #ACA9A9;">
        <button mat-raised-button color="primary"  style="margin-right:auto" (click) = "addData();modal.dismiss('Cross click')" >добавить</button>
    </div>
</ng-template>
     
    <div class="box4"><div >
        
      
        <mat-tab-group  class="Product"  mat-stretch-tabs="true" mat-align-tabs="start" >
            

                  <mat-tab label="Характеристики"   > 
                    <button mat-raised-button color="primary"  (click) = "open(content2)"  >
                       добавить характеристику  <mat-icon >add</mat-icon>
                   </button>
                    
                    <div  >
                        <mat-tab-group     mat-stretch-tabs="true" mat-align-tabs="start">
                            <mat-tab *ngFor="let type of Product.typesCharacteristics" label="{{type.name}}"   > 
                                <div  >
                                    <app-edit-product [typeCharacteristic] = "type" [ProductId] = "Product.id"  ></app-edit-product>
                               </div>
                            </mat-tab>
                        </mat-tab-group>
                       
                    </div>
                
                </mat-tab>
            
            <mat-tab label="Комментарии"> 
                
                <mat-card class="example-card" *ngFor = "let comment of Product.comments"  style="background-color:gray; box-shadow: 0 0 10px rgba(0,0,0,2);  margin-right: 30px;  max-height: max-content;  margin-left: 30px; margin-top: 30px;overflow-wrap: break-word; margin-bottom: 30px;">
                    
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title><ngb-rating   [(rate)]="comment.stars" ></ngb-rating></mat-card-title>
                      <mat-card-subtitle>{{comment.userName}}</mat-card-subtitle>
                    </mat-card-header>
                     
                    <mat-card-content>
                     
                        <H1>Достоинства</H1>
                        <span>{{comment.dignity}}</span>
                        <H1>Недостки</H1>
                        <span>{{comment.flaws}}</span>
                        <H1>Комментарий</H1>
                        <span>{{comment.comment}}</span>
                        
                     
                    </mat-card-content>
                    <mat-card-actions>
                       

                      <button mat-raised-button color="primary" style="width: 90px;" (click) = "RemoveComment(comment)"  >
                         <mat-icon >delete icon</mat-icon>
                    </button>
                    </mat-card-actions>
                    
                  </mat-card>
            </mat-tab>
             
          </mat-tab-group>
    </div>
</div>
</div>





