 

<div class="wrapper" >
     

    
        <div class="headerBox">
            
            <span  style="margin-left: 10px;">{{Product.name}}</span>

        </div>
        
        <div class="box2">
            
            <ngb-carousel *ngIf="images" >
                <ng-template ngbSlide >
                    <div   >
                        <img [src]="images[0]" style="height:330px; width: 100%" alt="Random first slide" />
                    </div>
                    
                </ng-template>
                
            </ngb-carousel>
            <p class="price" >{{Product.price}} ₽</p>
             

           
            
            
        </div>
         

         
     
    <div class="box4"><div >
        
        
        <mat-tab-group class="Product"  mat-stretch-tabs="true" mat-align-tabs="start">
           
                <mat-tab label="Характеристики"   > 
                
                    <div  *ngFor="let type of Product.typesCharacteristics" >
                        <div  >
                             <app-edit-product [typeCharacteristic] = "type" ></app-edit-product>
                           
                        </div>
                    </div>
                    
                </mat-tab>
           
            <mat-tab label="Комментарии"> 
                
                <mat-card class="example-card" *ngFor = "let comment of Product.comments"  style="background-color:gray; box-shadow: 0 0 10px rgba(0,0,0,2);  margin-right: 30px;  max-height: max-content;  margin-left: 30px; margin-top: 30px;overflow-wrap: break-word; margin-bottom: 30px;">
                    
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title><ngb-rating   [(rate)]="comment.stars" ></ngb-rating></mat-card-title>
                      <mat-card-subtitle>{{comment.userName}}</mat-card-subtitle>
                    </mat-card-header>
                     
                    <mat-card-content>
                     
                        <H1>Достоинства</H1>
                        <span>{{comment.dignity}}</span>
                        <H1>Недостки</H1>
                        <span>{{comment.flaws}}</span>
                        <H1>Комментарий</H1>
                        <span>{{comment.comment}}</span>
                        
                     
                    </mat-card-content>
                    <mat-card-actions>
                       

                      <button mat-raised-button color="primary" style="width: 90px;" (click) = "RemoveComment(comment)"  >
                         <mat-icon >delete icon</mat-icon>
                    </button>
                    </mat-card-actions>
                    
                  </mat-card>
            </mat-tab>
             
          </mat-tab-group>
    </div>
</div>
</div>





